# Reading and preprocessing data

In [1]:
import pandas as pd
import os
os.getcwd()

'C:\\Users\\Eszti'

In [2]:
path = 'f:\\Eszti\\Learning\\Kürt Akadémia Data Scientist\\realtime decisioning\\rtdm-master_v2\\python\\model'

In [3]:
os.chdir(path)

In [4]:
path

'f:\\Eszti\\Learning\\Kürt Akadémia Data Scientist\\realtime decisioning\\rtdm-master_v2\\python\\model'

In [5]:
df = pd.read_csv("model_simul_orig.csv")

In [6]:
df.head()

,Unnamed: 0,TransactionTrend,Account,FamilyMembers,Gender,long,Name,AvgMonthlySpending,merchantId,CreditScore,...,accountNumber,transactionId,IncomeCategory,name,NrOfDebCards,Tel,CrmSegment,ShortTermCredit,NrOfCredCards,feature_1
0,1315,Inact,230010996,1,F,19.048886,Bálint Márton,394455,1082,S,...,2871 7229 4142 6115,5382377001,M,Neckermann Vörö,3,3680472249,Pension,Y,1,0.0
1,1777,IncInc,230010995,1,F,19.048886,Borbély Vince,321466,1082,S,...,1102 5539 2372 5628,5382377463,XL,Neckermann Vörö,1,3680429023,Young,Y,1,0.0
2,1736,Inact,230010842,2,F,19.048886,Veres János,569665,1082,XS,...,2305 4242 1587 5041,5382377422,XXL,Neckermann Vörö,3,3680297434,Young,Y,1,0.0
3,664,Inc,230011103,2,N,19.048886,Orsós Alíz,299496,1082,M,...,8988 8878 4206 7564,5382376350,S,Neckermann Vörö,2,3680494786,Pension,Y,2,1.0
4,214,Inc,230011103,2,N,19.048886,Orsós Alíz,299496,1082,M,...,9547 0538 0000 9320,5382375900,S,Neckermann Vörö,2,3680494786,Pension,Y,2,0.0

In [7]:
columnNames = list(df)# header list

In [8]:
columnNames

['Unnamed: 0',
 'TransactionTrend',
 'Account',
 'FamilyMembers',
 'Gender',
 'long',
 'Name',
 'AvgMonthlySpending',
 'merchantId',
 'CreditScore',
 'merchantType',
 'Age',
 'lat',
 'amount',
 'BalanceAmount',
 'PreviousDaySpending',
 'accountType',
 'CreditLimit',
 'accountNumber',
 'transactionId',
 'IncomeCategory',
 'name',
 'NrOfDebCards',
 'Tel',
 'CrmSegment',
 'ShortTermCredit',
 'NrOfCredCards',
 'feature_1']

In [9]:
#Unnamed 0 és transactionId id-k, szerepeltessük majd 0 súllyal a tanuláskor
#Name-et (cust name) és name -et (merchant name) kivettem, Tel-t is
predictorVariables = ['Unnamed: 0', 'TransactionTrend', 'FamilyMembers', 'Gender', 'AvgMonthlySpending', 'CreditScore',
 'merchantType', 'Age', 'amount', 'BalanceAmount', 'PreviousDaySpending', 'accountType', 'CreditLimit', 'transactionId', 
 'IncomeCategory','NrOfDebCards','CrmSegment','ShortTermCredit','NrOfCredCards']
targetVariable = ['feature_1']

In [10]:
df[predictorVariables].head()

,Unnamed: 0,TransactionTrend,FamilyMembers,Gender,AvgMonthlySpending,CreditScore,merchantType,Age,amount,BalanceAmount,PreviousDaySpending,accountType,CreditLimit,transactionId,IncomeCategory,NrOfDebCards,CrmSegment,ShortTermCredit,NrOfCredCards
0,1315,Inact,1,F,394455,S,utazás,70,69069,731653,254158,MASTERCARD,1120000,5382377001,M,3,Pension,Y,1
1,1777,IncInc,1,F,321466,S,utazás,22,182861,278104,160518,DINERS,1130000,5382377463,XL,1,Young,Y,1
2,1736,Inact,2,F,569665,XS,utazás,75,282714,423154,98781,MAESTRO,860000,5382377422,XXL,3,Young,Y,1
3,664,Inc,2,N,299496,M,utazás,20,340862,67209,58049,JCB,380000,5382376350,S,2,Pension,Y,2
4,214,Inc,2,N,299496,M,utazás,20,64498,67209,58049,DINERS,380000,5382375900,S,2,Pension,Y,2

In [11]:
df[targetVariable].head()

   feature_1
0        0.0
1        0.0
2        0.0
3        1.0
4        0.0

In [12]:
#Lehetséges pre-processing, ha a kategóriváltozók kibontása után szükség lenne rá
#Normalizálás, re-scaling, az értékek 0 és 1 közé
#from sklearn.preprocessing import MinMaxScaler ...scaler = MinMaxScaler(feature_range=(0, 1))
#Standardizálás (Gauss eloszlás szerint) 
#Normalizálás
#Binarizálás (küszöb alatt-felett 0 vagy 1)

In [13]:
#TODO ezt javítani, mert a minta értékeitől függően más lesz az oszlopszám nominális kategóriaváltozók binárissá alakításánál
#szétszedjük tanuló és teszt halmazra
from sklearn.cross_validation import StratifiedKFold 
#tanuló-teszthalmaz 60%-40%
eval_size = 0.40
kf = StratifiedKFold(df['feature_1'],round(1. / eval_size))
train_indices, valid_indices = next(iter(kf))
X_train, y_train = df[predictorVariables].iloc[train_indices].copy(), df[targetVariable].iloc[train_indices].copy()
X_valid, y_valid = df[predictorVariables].iloc[valid_indices].copy(), df[targetVariable].iloc[valid_indices].copy()

E:\Anaconda\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [14]:
train_indices

array([1155, 1157, 1158, ..., 2310, 2311, 2312])

In [15]:
X_train.head()

,Unnamed: 0,TransactionTrend,FamilyMembers,Gender,AvgMonthlySpending,CreditScore,merchantType,Age,amount,BalanceAmount,PreviousDaySpending,accountType,CreditLimit,transactionId,IncomeCategory,NrOfDebCards,CrmSegment,ShortTermCredit,NrOfCredCards
1155,433,Dec,5,N,729924,NO,egészség,64,2378,499770,62883,MASTERCARD,470000,5382376119,XXL,1,CreditAct,Y,1
1157,356,Stab,2,N,462772,L,egészség,34,30519,148157,235666,DINERS,1170000,5382376042,XS,1,Young,N,3
1158,1714,IncInc,5,N,611539,NO,egészség,54,8253,348426,151035,DINERS,540000,5382377400,XXL,3,Young,N,1
1159,12,Dec,3,F,525210,NO,egészség,43,34036,511666,33611,VISA,610000,5382375698,XL,3,Young,Y,1
1160,1351,DecDec,1,F,793265,L,egészség,38,38941,257045,215309,VISA,1050000,5382377037,XS,1,CreditAct,Y,2

In [16]:
'''After the splitting of the data is done, leave this data out and don’t touch it. Any operations that are applied on
training set must be saved and then applied to the validation set. Validation set, in any case, should not be joined with the 
training set. Doing so will result in very good evaluation scores and make the user happy but instead he/she will be building a
useless model with very high overfitting.
'''

'After the splitting of the data is done, leave this data out and don’t touch it. Any operations that are applied on\ntraining set must be saved and then applied to the validation set. Validation set, in any case, should not be joined with the \ntraining set. Doing so will result in very good evaluation scores and make the user happy but instead he/she will be building a\nuseless model with very high overfitting.\n'

In [17]:
#Kategória változók kezelése v1 - Upd: ezt lentebb szétszedem nominálisra és ordinálisra
categoricalFeatures = ['TransactionTrend', 'Gender', 'CreditScore', 'merchantType', 'accountType', 'IncomeCategory', 'CrmSegment','ShortTermCredit']
#from sklearn.preprocessing import LabelEncoder, OneHotEncoder
#le = LabelEncoder()
#a kategóriaváltozók értékeit kicserélem numerikusra 
#for i in range(0,len(categoricalFeatures)):
#    tmpArray = le.fit_transform(X_train[categoricalFeatures[i]])
#    X_train[categoricalFeatures[i]] = list(tmpArray)

#hiba:ordinálisnál a lexikális rendezés miatt veszik el info; nominálisnál algoritmustól függően akár érdemes tesztelni ennyi konverzió után

#szétdobom az oszlopokat érték db binárisra
#ohe = OneHotEncoder()
#xtrain_cat = ohe.fit_transform(X_train[categoricalFeatures])

In [18]:
#kategória változók kezelése v2
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
#1. ordinális változók
ordinalFeatures = ['TransactionTrend', 'CreditScore', 'IncomeCategory']

tranTrend_mapping = {'IncInc': 0, 'Inc': 1, 'Stab': 2, 'Dec': 3, 'DecDec': 4, 'Inact': 5}
credScore_mapping = {'NO': 0, 'XS': 1, 'S' : 2, 'M': 3, 'L': 4, 'XL': 5}
incCat_mapping = {'XS': 0, 'S' : 1, 'M': 2, 'L': 3, 'XL': 4, 'XXL': 5}

#X_train['TransactionTrendNew'] = X_train['TransactionTrend'].apply(tranTrend_mapping.get).astype(float)
df_ordinal = X_train[ordinalFeatures].copy()
df_ordinal['enc_TransactionTrend'] = X_train['TransactionTrend'].map(tranTrend_mapping)
df_ordinal['enc_CreditScore'] = X_train['CreditScore'].map(credScore_mapping)
df_ordinal['enc_IncomeCategory'] = X_train['IncomeCategory'].map(incCat_mapping)

#2. nominális változók
nominalFeatures = ['Gender', 'merchantType', 'accountType', 'CrmSegment', 'ShortTermCredit']
#szétdobom az oszlopokat érték db binárisra
df_nominal = pd.get_dummies(X_train, columns = nominalFeatures)
df_nominal.to_csv('testNominal.csv')

In [19]:
df_nominal.head(20)

,Unnamed: 0,TransactionTrend,FamilyMembers,AvgMonthlySpending,CreditScore,Age,amount,BalanceAmount,PreviousDaySpending,CreditLimit,...,accountType_MAESTRO,accountType_MASTERCARD,accountType_VISA,CrmSegment_CreditAct,CrmSegment_NoTrans,CrmSegment_Pension,CrmSegment_TransCredit,CrmSegment_Young,ShortTermCredit_N,ShortTermCredit_Y
1155,433,Dec,5,729924,NO,64,2378,499770,62883,470000,...,0,1,0,1,0,0,0,0,0,1
1157,356,Stab,2,462772,L,34,30519,148157,235666,1170000,...,0,0,0,0,0,0,0,1,1,0
1158,1714,IncInc,5,611539,NO,54,8253,348426,151035,540000,...,0,0,0,0,0,0,0,1,1,0
1159,12,Dec,3,525210,NO,43,34036,511666,33611,610000,...,0,0,1,0,0,0,0,1,0,1
1160,1351,DecDec,1,793265,L,38,38941,257045,215309,1050000,...,0,0,1,1,0,0,0,0,0,1
1161,1394,DecDec,1,793265,L,38,21506,257045,215309,1050000,...,0,0,0,1,0,0,0,0,0,1
1162,1006,Inc,3,442596,NO,71,3252,733888,212687,810000,...,0,0,0,0,0,1,0,0,1,0
1163,1545,IncInc,5,284157,NO,22,38167,541394,238341,1190000,...,0,0,0,0,0,0,0,1,1,0
1164,1546,IncInc,5,284157,NO,22,9785,541394,238341,1190000,...,0,0,0,0,0,0,0,1,1,0
1165,1584,DecDec,4,1015404,NO,67,24894,755748,34215,1140000,...,0,0,0,0,0,0,1,0,1,0
1166,2077,Inact,2,843104,L,73,4945,31755,152100,970000,...,0,0,1,1,0,0,0,0,1,0
1167,464,Dec,4,160280,XS,26,16868,357035,162871,760000,...,0,0,0,0,0,0,1,0,1,0
1168,1963,Stab,4,397407,S,35,36655,724727,68779,940000,...,0,0,0,1,0,0,0,0,0,1
1169,1526,Inc,5,532522,S,44,31090,321255,84612,790000,...,0,0,0,0,1,0,0,0,1,0
1170,1947,Dec,1,203695,XL,29,19482,61667,56704,1160000,...,0,1,0,0,0,1,0,0,0,1
1171,824,Dec,3,248160,NO,35,38711,650818,67566,160000,...,0,0,0,0,1,0,0,0,0,1
1172,2096,DecDec,4,317680,NO,47,5539,179427,69824,550000,...,0,0,0,0,0,0,1,0,1,0
1173,1596,Inc,3,284142,M,52,8126,28867,222268,1050000,...,0,0,0,0,0,1,0,0,1,0
1174,1912,IncInc,1,949427,XS,48,4146,624674,40911,1100000,...,0,0,0,0,1,0,0,0,1,0
1175,1871,Inc,4,228454,S,74,17125,280392,232683,820000,...,0,1,0,1,0,0,0,0,0,1

In [20]:
#pd.DataFrame(xtrain_cat.toarray()).to_csv('testSparseMatrix.csv')

NameError: name 'xtrain_cat' is not defined

# Applying the same transformations on the validation set

In [21]:
df_ordinalValid = X_valid[ordinalFeatures].copy()
df_ordinalValid['enc_TransactionTrend'] = X_valid['TransactionTrend'].map(tranTrend_mapping)
df_ordinalValid['enc_CreditScore'] = X_valid['CreditScore'].map(credScore_mapping)
df_ordinalValid['enc_IncomeCategory'] = X_valid['IncomeCategory'].map(incCat_mapping)

df_nominalValid = pd.get_dummies(X_valid, columns = nominalFeatures)

In [22]:
df_nominalValid.head(5)

,Unnamed: 0,TransactionTrend,FamilyMembers,AvgMonthlySpending,CreditScore,Age,amount,BalanceAmount,PreviousDaySpending,CreditLimit,...,accountType_MAESTRO,accountType_MASTERCARD,accountType_VISA,CrmSegment_CreditAct,CrmSegment_NoTrans,CrmSegment_Pension,CrmSegment_TransCredit,CrmSegment_Young,ShortTermCredit_N,ShortTermCredit_Y
0,1315,Inact,1,394455,S,70,69069,731653,254158,1120000,...,0,1,0,0,0,1,0,0,0,1
1,1777,IncInc,1,321466,S,22,182861,278104,160518,1130000,...,0,0,0,0,0,0,0,1,0,1
2,1736,Inact,2,569665,XS,75,282714,423154,98781,860000,...,1,0,0,0,0,0,0,1,0,1
3,664,Inc,2,299496,M,20,340862,67209,58049,380000,...,0,0,0,0,0,1,0,0,0,1
4,214,Inc,2,299496,M,20,64498,67209,58049,380000,...,0,0,0,0,0,1,0,0,0,1

# Concatenating features together

In [23]:
# X_train - categoricalfeatrues + df_ordinal(enc helyen) + df_nominal (csak új mezők)#
#training set
df_ordinalNew = df_ordinal.drop(ordinalFeatures, axis = 1)
df_allButOrdinal = df_nominal.drop(ordinalFeatures, axis = 1)
X_trainNew = pd.concat([df_allButOrdinal, df_ordinalNew], axis = 1)

#validation set
df_ordinalValidNew = df_ordinalValid.drop(ordinalFeatures, axis = 1)
df_allButOrdinalValid = df_nominalValid.drop(ordinalFeatures, axis = 1)
X_validNew = pd.concat([df_allButOrdinalValid, df_ordinalValidNew], axis = 1)

In [24]:
X_validNew.head()

,Unnamed: 0,FamilyMembers,AvgMonthlySpending,Age,amount,BalanceAmount,PreviousDaySpending,CreditLimit,transactionId,NrOfDebCards,...,CrmSegment_CreditAct,CrmSegment_NoTrans,CrmSegment_Pension,CrmSegment_TransCredit,CrmSegment_Young,ShortTermCredit_N,ShortTermCredit_Y,enc_TransactionTrend,enc_CreditScore,enc_IncomeCategory
0,1315,1,394455,70,69069,731653,254158,1120000,5382377001,3,...,0,0,1,0,0,0,1,5,2,2
1,1777,1,321466,22,182861,278104,160518,1130000,5382377463,1,...,0,0,0,0,1,0,1,0,2,4
2,1736,2,569665,75,282714,423154,98781,860000,5382377422,3,...,0,0,0,0,1,0,1,5,1,5
3,664,2,299496,20,340862,67209,58049,380000,5382376350,2,...,0,0,1,0,0,0,1,1,3,1
4,214,2,299496,20,64498,67209,58049,380000,5382375900,2,...,0,0,1,0,0,0,1,1,3,1

# Applying models

In [25]:
#try with Logistic Regression, Random Forest, Xgboost, KNeighboursRegressor
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(C=1.0) #default, TODO tesztelni más értékekkel
model.fit(X_trainNew, y_train.values.ravel())

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [26]:
model.coef_

array([[ -9.52073666e-11,   5.43074250e-13,   1.24353562e-07,
         -5.77316888e-12,  -3.38969150e-08,  -2.09991095e-06,
         -1.24097110e-08,  -1.85666558e-07,  -4.46536220e-10,
         -1.18774424e-12,   7.19767924e-12,  -9.97360006e-13,
          9.97359941e-13,   1.69741706e-13,  -2.23128821e-13,
          7.28241913e-14,   4.23020265e-13,   1.80121668e-13,
         -3.91700197e-13,  -2.45108296e-14,  -2.06368049e-13,
          3.52355645e-16,   1.29630784e-13,  -2.09786020e-13,
          1.70723687e-13,   7.21039718e-14,  -1.63024843e-13,
         -3.52666755e-13,  -2.87350610e-13,   1.90628252e-13,
          7.22721828e-13,  -2.73332781e-13,  -1.09314375e-12,
          1.09314368e-12,  -1.95067753e-12,   1.64721653e-11,
         -3.88738538e-13]])

In [28]:
testArray = model.predict(X_validNew) 

#hiba: X has 32 features per sample; expecting 38
#--> df_nominalValid = pd.get_dummies(X_valid, columns = nominalFeatures)  itt van hiba: a validációs halmazban nem fordul elő
# minden nominális változó összes értéke, ami a tréningben igen --> StratifiedKFold-ot lecserélni/valahogy megoldani, hogy minden
# érték kerüljön mindenhová

In [29]:
testArray

array([ 0.,  0.,  0., ...,  0.,  0.,  0.])

In [33]:
for i in range(0,len(testArray)):
    print(testArray[i])

0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0